@import url(//db.onlinewebfonts.com/c/fe2027c27b6a24505f548c6fd2e1076d?family=Berlin+Sans+FB);
@import url(//db.onlinewebfonts.com/c/a78cfad3beb089a6ce86d4e280fa270b?family=Calibri);
@import url(//db.onlinewebfonts.com/c/0d78b12d6be09203d1fbeb76871a369a?family=Century+Gothic);


:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background: #5560AA;
  background: linear-gradient(to left, #5560AA, #F77759);
}

/*Header*/
.navbar{
  background-color: #5560AA;
}
.container-logo{
  margin-left: 0.5vw;
  position: absolute;
  z-index: 1;
}
.container-logo #logo{
  width: 5vw;
}
.titulo{
  margin-left: 6vw;
  background-color: #5560AA;
  font-family: Berlin Sans FB;
  color: #EFEFEF;
  padding: 1.5vw;    
}
.titulo h2{
  font-size: 2em;    
}
.titulo a{
  text-decoration: none;
  color: #EFEFEF;
}
.titulo a:visited, .titulo a:hover{
  color: #EFEFEF;
}
#btn-pesquisar{ 
  font-family: Century Gothic;
  background-color: #F77759;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  border-color: transparent; 
  font-weight: bold;
  color: white;
  padding: 8px 15px;
  outline: none;    
}
#btn-pesquisar:hover{
  border-color: #F77759;
}
input:placeholder-shown{
  font-style: italic;
}
.form-control, .card{
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
#login, #cesta{
  width: 60%;
}
#info-login{
  margin-left: -60px;
  margin-right: 50px;
}
#info-login1{
  color: white;
  margin-bottom: 0;
  margin-top: 12px;
  width: 150%;    
}
#info-login2{
  color: #EFEFEF;
}
#menu{
  background-color: white;
  font-family: Century Gothic;
  font-weight: bolder;
  margin-bottom: 2rem;
}
.nav-link{
  color: #F77759;
}   
.nav-link:hover {
  color: #C8C8C8;
}
#linha{
  margin-top: -32px;
  background-color: #C8C8C8;
  height: 5px;
}

/* Login */
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  font-family: Century Gothic;
  color: #5560AA;
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.card-signin .card-img-left {
  width: 45%;
  background: scroll center url(/assets/img/Cachorro.jpg);
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  background-color: #00D9CA;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.form-signin .btn:hover {
  background-color: #F77759;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

p{
  text-align: center;
}
p a:hover{
  color: #5560AA;
}
p a:visited{
  color: black;
}

/* Rodapé */
footer{    
  background-color: #DEDEDE;
  color: #444444;
  font-size: small;
}

/* Customizações responsivas - Header */
@media (max-width: 1545px){
  #info-login2{
      color: #EFEFEF;        
      width: 150%;    
  }
  #btn-pesquisar2{
      visibility: hidden;
      clear: both;
      display: none;        
  }
}
@media (max-width: 1495px){
  #info-login1{
      color: white;        
      width: 190%;    
  }
}
@media (max-width: 1297px){
  #info-login1{
      color: white;        
      width: 150%;
      margin-left: 10px;
      margin-top: -1px;
  }
  #info-login2{
      visibility: hidden;
      clear: both;
      display: none;
  }
}
@media (max-width: 1105px){
  #nav-item-categoria, .dropdown{
      margin-left: -2vw;
  }
  .container-logo #logo{
      margin-top: 5px;
  }
  #info-login{
      visibility: hidden;
      clear: both;
      display: none;
  }
  #btn-pesquisar{ 
      font-family: Century Gothic;
      background-color: #F77759;
      border-radius: 5px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
      border-color: transparent; 
      font-weight: bold;
      color: white;
      padding: 6px;
      outline: none;
      margin-left: 5px;
  }
  #pesquisa{
      position: absolute;
      z-index: 1;
      margin-left: 30vw;
  }
  #login{
      width: 80%;
      margin-left: 20vw;
  }
  #cesta{
      width: 80%;
  }
}
@media (max-width: 992px){
  .nav-link{
      margin-right: 0;
      padding: -50vw;
  }
  #nav-item-categoria{
      visibility: hidden;
      clear: both;
      display: none;
  }
  .dropdown-toggle::after {
      content: none;
  }
  .dropdown .dropdown-menu{
      display: none;
  }
  #navbarDropdown2{
      margin-top: -38px;
      margin-left: 10vw;
  }
  #btn-pesquisar{ 
      font-family: Century Gothic;
      background-color: #F77759;
      border-radius: 5px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
      border-color: transparent; 
      font-weight: bold;
      color: white;
      padding: 6px;
      outline: none;
      margin-left: 1px;
  }
  #login{
      width: 90%;
      margin-left: 20vw;
  }
  #cesta{
      width: 90%;
  }
}
@media (max-width: 927px){
  #btn-pesquisar{ 
      font-family: Century Gothic;
      background-color: #F77759;
      border-radius: 5px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
      border-color: transparent; 
      font-weight: bold;
      color: white;
      padding: 6px;
      outline: none;
      margin-left: -1vw;
      font-size: smaller;
  }
  #pesquisa{
      margin-left: 32vw;
  }
  #login{
      width: 100%;
  }
  #cesta{
      width: 100%;
  }
}
@media (max-width: 767px){
  .container-logo #logo{
      margin-left: -10px;
      width: 30%;
  }
  #login{
      width: 27%;
      margin-top: -38px;
      margin-left: 38vw;
  }
  #cesta{
      width: 27%;
      margin-top: -38px;
      margin-left: 42vw;
  }
  #btn-pesquisar{ 
      font-family: Century Gothic;
      background-color: #F77759;
      border-radius: 5px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
      border-color: transparent; 
      font-weight: bold;
      color: white;
      padding: 6px;
      outline: none;
      margin-left: 5px;
  }
  #pesquisa{
      position: absolute;
      z-index: 1;
      margin-top: 140px;
      margin-left: -1vw;
  }
  #pesquisa-input{
      width: 70%;
  }
  #linha{
      height: 100px;
      border-bottom: 5px solid white;
      background-color: #C8C8C8;
  }
  #etq-qtd, #menu{
      visibility: hidden;
      clear: both;
      display: none;        
  }
}   
@media (max-width: 587px){
  .container-logo #logo{
      margin-left: -18px;
      width: 30%;
  }
  #login{
      width: 33%;
      margin-top: -34px;
      margin-left: 34.5vw;
  }
  #cesta{
      width: 33%;
      margin-top: -34px;
      margin-left: 40vw;
  }
}
@media (max-width: 500px){
  .container-logo #logo{
      margin-left: -18px;
      width: 30%;
  }
  #login{
      width: 35%;
      margin-top: -34px;
      margin-left: 33vw;
  }
  #cesta{
      width: 35%;
      margin-top: -34px;
      margin-left: 39vw;
  }
}
@media (max-width: 414px){ 
  #btn-pesquisar{ 
      font-family: Century Gothic;
      background-color: #F77759;
      border-radius: 5px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
      border-color: transparent; 
      font-weight: bold;
      color: white;
      padding: 6px;
      outline: none;
      margin-left: 5px;
  }
  #pesquisa{
      position: absolute;
      z-index: 1;
      margin-top: 140px;
      margin-left: -1vw;
  }
  #pesquisa-input{
      width: 70%;
  }
  #login{
      width: 35%;
      margin-top: -35px;
      margin-left: 35vw;
  }
  #cesta{
      width: 35%;
      margin-top: -35px;
      margin-left: 40vw;
  }
  .container-logo #logo{
      width: 10vw;
      margin-left: -20px;
      margin-top: 2px;
  }
}