<body>
    <div class="container-lg">                       
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-img-left d-none d-md-flex">
                            <!-- Background image for card set in CSS! -->
                        </div>
                        <div class="card-body">
                            <h2 class="card-title text-center">Login</h2>
                            <div class="form-signin">
                                <div class="form-label-group">
                                    <input type="text" id="inputUserame" class="form-control pl-2" [(ngModel)]='clienteLogin.emailCliente' required autofocus>
                                    <label class="pl-2" *ngIf='clienteLogin.emailCliente == "" ' for="inputUserame">Usuário</label>
                                </div>

                                <hr>

                                <div class="form-label-group">
                                    <input type="password" id="inputPassword" class="form-control pl-2" [(ngModel)]='clienteLogin.senhaCliente' required>
                                    <label class="pl-2" *ngIf='clienteLogin.senhaCliente == "" 'for="inputPassword">Senha</label>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                    type="submit" (click)='entrar()'>Entrar</button>
                                    <br>
                                    <p>Não possui cadastro? <a routerLink='/cadastro-cliente'><u>Cadastre-se agora!</u></a></p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>