<body>
    <div class="container-large">

        <div class="row pt-4" id="pagina-atual">
            <h5 class="mr-5">Pesquisar</h5>

            <div class="Linha">
                <div class="pesquisar">
                    <input class="form-control mr-sm-2" type="search" placeholder="Digite o nome do Funcionario"
                        aria-label="Search" style="width: 500px;" [(ngModel)]='nomeUsuario'
                        (keyup)='findByNomeUsuario()'>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead class="thead" style="background-color: #00d8c9;color: whitesmoke;">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Matricula</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Status</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody
                    *ngFor='let funcionarios of listaUsuarios | orderBy : key : reverse | paginate: {itemsPerPage: 10, currentPage: paginaAtual}; let i=index'>
                    <tr>
                        <td>{{funcionarios.nomeUsuario}}</td>
                        <td>{{funcionarios.id}}</td>
                        <td><span *ngIf="funcionarios.tipoUsuario == 0; else elseBlock">Administrador</span>
                            <ng-template #elseBlock>Estoquista</ng-template>
                        </td>
                        <td><a href="../Paginas/CadastroProduto.html"> <span
                                    *ngIf="funcionarios.statusUsuario; else elseStatus">Ativo</span>
                                <ng-template #elseStatus>Inativo</ng-template>
                            </a></td>

                        <td class="container-icone">
                            <a *ngIf="usuarioLogadoAdmin" [routerLink]="['/editar-usuario', funcionarios.id]">
                                <img src="../assets/img/EditarCinza.png" class="btn-editar"
                                    alt="Ícone para a página de alteração do produto">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="paginacao">
            <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo">
            </pagination-controls>
        </div>


        <div class="botao">
            <button type="submit" id="btn-cancelar" routerLink='/backoffice'>Cancelar</button>
            <button type="button" id="btn-confirmar" routerLink='/cadastrar-usuario'>Cadastrar Novo</button>
        </div>