<header>
    <div id="container-large">
        <a routerLink='/home'><img id="logo" src="../assets/img/LogoMercadogue.png" alt="Logo Mercadogue"></a>
    </div>
    <div id="titulo">
    </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Produto
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink='/cadastro-produto'>Cadastro</a>
            <a class="dropdown-item" routerLink='/listar-produto'>Listar</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Usuário
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink='/cadastrar-usuario'>Cadastro</a>
              <a class="dropdown-item" routerLink='/listar-usuario'>Listar</a>
            </div>
          </li>
      </ul>
    </div>
  </nav>