<body>


    <div class="container">
        <div class="row pt-4 mt-0" id="pagina-atual">
            <a routerLink='/home'>
                <img class="icone" src="../assets/img/Voltar.png" alt="Voltar"></a>
            <h5>Meus Pedidos</h5>
        </div>

        <br><br>
        <div class="Pedido pb-4" *ngFor="let compra of listaPedidosUsuario;">
            <div class="info">
                <div class="dados" style="text-align: center;">
                    <h4>Dados do pedido</h4>
                </div>
                <br>
                <div class="parte1">
                    <div class="numero">
                        <p><b>Número do pedido:</b> {{compra.numeroPedido}}</p>
                    </div>
                    <div class="Total1">
                        <p><b>Total do pedido:</b> R${{compra.valorTotal | number : '1.2'}}</p>
                    </div>
                    <a class="botao" [routerLink]="['/order-review',compra.id]">
                        <button type="button" id="btn-detalhes">Ver detalhes do pedido</button>
                    </a>
                </div>
            </div>
            <div class="parte2">
                <div class="numero">
                    <p><b>Data de realização:</b> {{compra.dataCompra | date: 'dd/MM/yyyy'}}</p>
                </div>
                <div class="Total">
                    <p><b>Status:</b> {{compra.statusPedido}}</p>
                </div>
            </div>

        </div>
    </div>
</body>