<body>
    <div class="form pt-4">
        <div class="form-group">
            <label for="exampleFormControlInput1" class="label">
                <span style="color: #F77759">*</span>Nome</label>
            <input type="text" class="form-control" id="nome" [(ngModel)]='produto.nomeProduto'>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1" class="label">
                <span style="color: #F77759">*</span>Descrição</label>
            <textarea class="form-control" id="descricao" rows="3" [(ngModel)]='produto.nomeExtenso'></textarea>
        </div>

        <div class="column-count">

            <div class="form-group">
                <label for="exampleFormControlInput1" class="label">
                    <span style="color: #F77759">*</span>Estrelas</label>
                <select class="custom-select" id="estrelas" [(ngModel)]='produto.qtdEstrelas'>
                    <option selected>Selecione</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        

        <div class="form-group">
            <label for="exampleFormControlTextarea1" class="label">
                <span style="color: #F77759">*</span>Estoque</label>
            <input type="text" class="form-control" id="estoque" [(ngModel)]='produto.qtdEstoque'>
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1" class="label">
                <span style="color: #F77759">*</span>Preço</label>
            <input type="text" class="form-control" id="preco" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                [(ngModel)]='produto.preco'>
        </div>

        <fieldset class="form-group">
            <label for="exampleFormControlInput1" class="label">
                <span style="color: #F77759">*</span>Status</label>
                <br>
            <input type="radio" name="statusProduto" value="{{1}}" (change)="radioChangeHandler($event)">
            Ativo
            
            <input class="ml-5" type="radio" name="statusProduto" value="{{0}}" (change)="radioChangeHandler($event)">
            Inativo
            <!--                   
                <div class="column-count-status">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ativacao" id="Ativo" value="true">
                        <label class="form-check-label" for="Ativo">
                            Ativo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ativacao" id="Inativo" value="false">
                        <label class="form-check-label" for="Inativo">
                            Inativo
                        </label>
                    </div>
                </div>
            -->
        </fieldset>

    </div>

        <br>

        <div class="form-group">
            <label for="exampleFormControlInput1" class="label">
                <span style="color: #F77759">*</span>Imagem</label>
            <input type="text" class="form-control" [(ngModel)]="imgPathInput">
            <ul>
                <img id="btn-adicionar-img" src="../assets/img/add.svg" alt="" (click)="addToList()">
                <li *ngFor="let imagem of produto.imagem; let i = index">
                    <input [(ngModel)]='imagem.path'>{{imagem.path}}
                    <img id="btn-adicionar-img" src="../assets/img/minus.svg" alt="" (click)="removeToList(i)">
                </li>
            </ul>

        </div>

        <div class="botoes">
            <button type="submit" id="btn-cancelar" routerLink='/backoffice'>Cancelar</button>
            <button type="submit" id="btn-confirmar" (click)='salvar()'>Salvar</button>
        </div>

    </div>