<body>
    <div class="container-large">

        <div id="linha"></div>

        <div class="row" id="pagina-atual">
            <h5>Compre no Mercadogue</h5>
        </div>

        <div class="container">
            <div class="card-deck" *ngFor="let mercadoria of listaProdutos">
                <div class="card">
                    <img class="card-img-top" src="{{mercadoria.imagem[0].path}}" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">{{mercadoria.nomeProduto}}</h5>
                        <img class="estrela" src="../assets/img/Estrela.png" alt="">
                        <p>{{mercadoria.qtdEstrelas}}</p>
                        <h4>R${{mercadoria.preco}}</h4>
                    </div>
                    <div class="card-body align-self-center">
                        <a [routerLink]="['/comprar-produto', mercadoria.id]" class="card-link">
                            <button type="submit" id="btn-pesquisar">Comprar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
